<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testCollectionViewInCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>840739541DEE1F0B000679E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8407396D1DEE1F0B000679E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840739781DEE1F0B000679E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
